@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<br />      <!-boşluk bırakır ->
<h3>Merhaba Mvc proje kampı başladı</h3>    <!--h yüksekliği temsil ediyor. h1 en yüksek, h6 en küçük -->
<h1>Merhaba Mvc proje kampı başladı</h1>